#char-matrix {
    width: 640px;
    height: 640px;
    float: left;
    margin: 10px;
}

div.char-cell {
    width: 16px;
    height: 16px;
    /*background-position: -0px -16px;*/
    float:left;
}

#scroller {
    position: relative;
    background-color:black;
    border: 1px solid red;
    width: 640px;
    height: 160px;
    overflow: hidden;
}

#scroller .text {
    color: white;
    font-size: 100px;
}

.font-cav-of-sillahc {
    background-image: url(/public/images/cav_of_sillahc_x2_anim.png);
}

.colour-white {
    background-color: #fff;
}

.colour-yellow {
    background-color: yellow;
}

.colour-lightbrown {
    background-color: #C49B39;
}

.colour-darkbrown {
    background-color: #8C6508;
}

.colour-pink {
    background-color: #FF8C8C;
}

.colour-darkgrey {
    background-color: #525252;
}

.colour-mediumgrey {
    background-color: #8A8A8A;
}