#{extends 'main.html' /}
#{set title:'Almost Writer' /}



<input type="button" id="start-recording" value="Spela in ett nytt meddelande" />
<input type="button" id="play-recording" value="Spela upp ditt meddelande" />
<div id="char-matrix"></div>

<div id="instructions">
    <h3>Colours:</h3>
    <ul id="colour-list">
        <li>ctrl+1 : white</li>
        <li>ctrl+2 : yellow</li>
        <li>ctrl+3 : light brown</li>
        <li>ctrl+4 : dark brown</li>
        <li>ctrl+5 : pink</li>
        <li>ctrl+6 : dark grey</li>
        <li>ctrl+7 : medium grey</li>
    </ul>
</div>

#{templates.cell /}
